@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
nav {
  background: #071e2e;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav .ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}
nav .ul .li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav .ul .li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover {
  background: #893f64;
  transition: 0.5s;
  color: #e7b949;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 858px) {
  label.logo {
    font-size: 16px;
    padding-left: 20px;
  }
  nav .ul .li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #893f64;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav .ul .li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav .ul .li a {
    font-size: 20px;
  }
  a:hover {
    background: none;
    color: #e7b949;
  }
  #check:checked ~ .ul {
    left: 0;
  }
}
section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.body1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(./Images//layered-steps-haikei.svg);
  color: #fff;
  width: 100%;
}

.imgTeamWork {
  width: 875px;
}

.texts {
  width: 500px;
}

.title1 {
  font-size: 50px;
  font-weight: 900;
}

.text1 {
  font-size: 30px;
}

.imgStairs {
  background-color: #000;
  width: 100%;
  height: 350px;
  padding: 150px 0px;
  background-image: url(https://incompany.escolaconquer.com.br/assets/secondsection.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.body2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(./Images/layered-waves-haikei.svg);
  color: #fff;
}

.imgPuzzle {
  width: 550px;
}

.texts1 {
  margin-left: 30px;
}
.title2 {
  font-size: 40px;
  font-weight: 500;
}

.textExps {
  list-style: none;
  font-size: 20px;
}

.textExps::before {
  content: ' \2611';
  margin-right: 15px;
}

.body3 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 150px;
    position: relative;
    -webkit-text-stroke: 2px #9c9c9c;
    color: #fff;
  }
  h3 {
    position: absolute;
    font-size: 26px;
    font-weight: 800;
  }
}
.bodytext {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text2 {
  width: 650px;
  font-size: 24px;
  text-align: center;
}

.body4 {
  background: #eaeaea;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services {
  margin-top: 30px;
  font-size: 30px;
}

.cards {
  display: flex;
}

.card {
  margin: 30px;
  background: #ffffff;
  width: 430px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);

  img {
    width: 350px;
  }

  p {
    width: 350px;
  }
}

@media screen and (max-width: 858px) {
  .body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    height: 300px;
    text-align: center;
  }

  .imgTeamWork {
    width: 0px;
  }

  .texts {
    width: 350px;
  }

  .title1 {
    font-size: 20px;
    font-weight: 900;
  }

  .text1 {
    font-size: 12px;
  }

  .imgStairs {
    background-color: #000;
    width: 100%;
    height: 50px;
    padding: 250px 0px;
    background-image: url(https://incompany.escolaconquer.com.br/assets/secondsection.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .body2 {
    display: flex;
    align-items: center;
    color: #fff;
  }
  .imgPuzzle {
    width: 0px;
  }

  .texts1 {
    margin-top: 10px;
  }
  .title2 {
    font-size: 20px;
  }

  .textExps {
    margin-top: 10px;
    font-size: 12px;
  }
}
